body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #65BBCC;
  background: linear-gradient(to bottom right, #65BBCC, #83F656);
}

html {
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.controlsDivStyle {
  display: none !important;
}

@keyframes alternateColors {
    0% {
        background: linear-gradient(to bottom right, #65BBCC, #83F656);
    }
    50% {
        background: radial-gradient(blue, #83F656);
    }
    100% {
        background: linear-gradient(to bottom right, #65BBCC, #83F656);
    }
}

.toeterBackground {
    animation: alternateColors 0.5s infinite;
    animation-timing-function: ease-in-out;
}

.escalatieKnop {
    margin: 1rem 0;
}
