.large {
    font-size: 10vw;
}

.container {
    text-align: center;
}

.start {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.startButton {
    min-width: 10em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.topButtons {
    position: absolute;
    top: 4vh;
    left: 4vh;
    z-index: 100;
    display: flex;
}

.topButtons * {
    margin-right: 10px;
    width: 40px;
}

.icon {
    height: 1em;
    width: 1em;
}

.albumArt {
    position: relative;
    width: 35vh;
    max-height: 35vh;
    margin: 10vh auto 5vh;
    display: flex;
}

.albumArt img {
    display: block;
    width: 100%;
    height: auto;
}

.albumArt span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #abc9ee66;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18vw;
}

.albumArt:hover span, .albumArt[data-paused="true"] span {
    opacity: 1;
}

h1 {
    font-size: 50px !important;
}

@media screen and (max-height: 800px){
    h1 {
        font-size: 5vh !important;
    }
}

.times {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    align-content: stretch;
    margin-bottom: 5vh;
    font-variant-numeric: tabular-nums;
}

.times h1 {
    flex-grow: 1;
    flex-basis: 0;
    min-width: 250px;
}

@media screen and (max-width: 773px) {
    .times h1:nth-child(2) {
        order: 3;
    }

    .times {
        margin-top: 2vh;
    }
}

.barWrapper {
    position: relative;
    background-color: white;
    border-radius: 7px;
    height: 60px;
    width: 100%;
    margin-bottom: 1vh;
}

.bar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;

    font-size: 30px;

    border: 3px solid black;
    border-radius: 7px;

    position: absolute;
}

.bar div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .5s ease;
    transition-property: background;
}

.barWrapper:not([data-dragging="true"]) .bar div:hover {
    background: #abc9ee66;
}

.bar div:not(:first-child) {
    border-left: 3px solid black;
}

.progress {
    color: transparent;
    background-color: #83F656;
    width: 0;
    border-color: transparent;
}

.sortableBar div {
    cursor: grab;
}

.draggingItem {
    border-left: 0 !important;
}

.ghostItem {
    background: #abc9ee66;
}

@media screen and (min-width: 576px) {
    .forms {
        width: 400px;
    }

    .centimerionWrapper .inputWrapper {
        display: flex;
        justify-content: center;
    }

    .centimerionWrapper .inputWrapper div{
        width: 50% !important;
        display: block;
    }
}

.forms input {
    text-align: center;
}

.forms {
    margin-bottom: 1vh;
}

.playlistSelectWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vh;
}

.playlistSelect {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.playlistSelect select {
    max-width: 350px;
    text-align: center;
}

.dropdownWrapper {
    min-height: 10vh;
}

.dropdownWrapper button {
    margin-bottom: 2vh;
}

@media screen and (min-height: 730px){
    .dropdownWrapper {
        min-height: 300px;
    }
}

.pianoManDialog {
    width: 80vw !important;
    max-width: unset !important;
}

@media screen and (max-width: 300px){
    .pianoManDialog {
        width: 100vw !important;
        max-width: unset !important;
    }
}
